.logo {
  width: 100%;
  color: $logo-color;
  
  @include tablet {
    width: 271px;
  }
}

.footer__logo {
  display: block;
  margin: 40px auto 40px;
  max-width: 268px;

  @include tablet {
    margin-bottom: 30px;
  }
}
