section.cards
    h2.h2.cards__title(data-scrollspy="animate__fadeInUp") What’s it like to work at Sagecare?
    .container-md
        include ./slider
    //-     .cards__container(data-scrollspy="animate__fadeInUp")
    //-         +card('WeCare', 'We care', 'We care about, respect and protect our clients, customers, and our business. We’re not afraid to support and speak up for our clients, our people and our sector.')
    //-         +card('WeListen', 'We listen', 'We listen to our clients, commissioners, regulators, and importantly our own people to ensure everyone is heard, respected and feels valued.')
    //-         +card('WeStrive', 'We strive', 'We strive for the best outcomes for our clients, and continuously work hard to improve our services. We are accountable and take responsibility for seeing things through, give credit where it’s due and say thank you.')
    //-         +card('WeBuild', 'We build', 'We build trust with our clients and the people we work alongside. Through our dedication, we also build the reputation of our business as a sector leader that goes further than its competitors.')