section.intro
    .intro__img
        img(
        src="img/intro.jpg", 
        alt="", 
        srcset="img/intro@2x.jpg 2x" data-scrollspy="animate__fadeIn")
    .intro__content
        .intro__container(data-scrollspy="animate__fadeInLeft")
            h1.intro__subtitle Brightening up John’s afternoon.
            h2.intro__title This is care.
            p.intro__text We’re hiring Care Assistants at Comfort Call. Join our caring, trusting team who strive to help improve the lives of others.
        .intro__buttons
            button.button.button-apply.button-apply-intro#apply(data-scrollto="#form") Apply now
            button.button.button-apply-intro(data-scrollto="#request") Request a callback