header.header
  .header__top.fixed#header-top(data-scrollspy="animate__fadeInDown")
    .header__inner.container
      .header__logo
        img(
          src="img/svg/logo.svg", 
          alt="SageCare Ltd", 
          data-scrollspy="animate__fadeInUp")
      .header__buttons
        button.button.button-content.button-content-header(data-scrollto="#request") Request a callback
        button.button.button-content.button-content-header(data-scrollto="#form") Apply now
