extends pug/base

prepend vars
  //-
  - title = 'ISS Healthcare'
  - theme = 'iss-theme'

append vars
  //-

block content
  main.main
    include ./pug/components/intro
    include ./pug/components/article
    include ./pug/components/cards